html {
  min-height: 100%;
  position: relative;
}

/*********************** CLASSES **************************/

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-padding {
	padding-bottom: 100px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

.inline{
  color: #fff;
  border-radius: 100%;
  position: relative;
  background-color: #1abc9c;
}

.inline-publish{
  background-color: #1abc9c;
  color: #fff;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 6px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}


/********************** IDS *********************/
